ROXX_SECURITY_PROFILE=production
ROXX_SECRET_KEY=replace-with-at-least-48-random-characters
ROXX_SSL_REQUIRED=true
ROXX_AUTO_GENERATE_CERT=false
ROXX_SSL_CERTFILE=/etc/roxx/certs/server.crt
ROXX_SSL_KEYFILE=/etc/roxx/certs/server.key
ROXX_SECURE_COOKIES=true
ROXX_HSTS=true
ROXX_LOG_LEVEL=info
ROXX_ACCESS_LOG=true
ROXX_CONFIG_DIR=/etc/roxx
ROXX_DATA_DIR=/var/lib/roxx
ROXX_LOG_DIR=/var/log/roxx
ROXX_LIMIT_CONCURRENCY=500
ROXX_READINESS_TCP_TARGETS=primary_ldap=ldap.example.com:636,redis=redis.example.com:6379
ROXX_METRICS_TOKEN=replace-with-monitoring-bearer-token
