global
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend roxx_https
    bind :443 ssl crt /etc/haproxy/certs/roxx.pem
    http-request set-header X-Forwarded-Proto https
    default_backend roxx_nodes

backend roxx_nodes
    balance roundrobin
    option httpchk GET /readyz
    http-check expect status 200
    cookie ROXXNODE insert indirect nocache
    server roxx-a 10.0.10.11:8000 check ssl verify required ca-file /etc/haproxy/ca.crt cookie a
    server roxx-b 10.0.10.12:8000 check ssl verify required ca-file /etc/haproxy/ca.crt cookie b
